.btn-1 {
    background: rgb(96,9,240,1);
    background: linear-gradient(0deg, rgba(129,5,240,1) 0%, rgba(55,255,255,.9) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(247,150,192) 100%);
  }
  .btn-1{
    border-radius:25px;
    border:0;
    font-size:1.8rem;
    font-weight: 600;
    margin: 1rem 0 ;
    padding: 1rem 3rem;
    text-transform:uppercase;
    position: auto;
    left:1000px;
  
  }
  .btn-2 {
    background: rgb(96,9,240,1);
    background: linear-gradient(0deg, rgba(247,150,192) 0%, rgba(2,126,251,1) 100%);
    border: none;
  
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-2 span:hover:before {
    width: 100%;
  }
  .btn-2 span:hover:after {
    width: 100%;
  }
  .btn-2{
    border-radius:25px;
    border:0;
    font-size:1.8rem;
    font-weight: 600;
    margin: 1rem 0 ;
    padding: 1rem 3rem;
    text-transform:uppercase;
     position:auto; 
    bottom:70px;
    display:block;
    
  }
  
  .btn-3{
    background: rgb(255,255,255,.5);
  background: linear-gradient(0deg, rgba(255,151,0) 0%, rgba(49,110,244,1) 100%);
    color: #fff;
    border: none
      ;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-3{
    border-radius:25px;
    font-size:1.8rem;
    font-weight: 500;
    margin: 1rem 0 ;
    padding: 1rem 3rem;
    text-transform:uppercase; 
    position:auto ; 
    bottom: -10px;
    display:block;
    
    }
 
  